/* Reset default browser spacing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Optional: ensure body takes full width */
body {
  font-family: sans-serif;
  background-color: #f9fafb; /* optional */
 
}
